<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/auth.css">
</head>
<body> 
    <div id="app">
        <div id="preloader">
            <span id="preloader-text">LOADING...</span>
        </div>

        <div id="app-control-bar"></div>

        <div id="app-background-blob">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
                <path fill="#b1adfe" fill-opacity="1" d="M0,320L40,309.3C80,299,160,277,240,261.3C320,245,400,235,480,240C560,245,640,267,720,261.3C800,256,880,224,960,208C1040,192,1120,192,1200,160C1280,128,1360,64,1400,32L1440,0L1440,320L1400,320C1360,320,1280,320,1200,320C1120,320,1040,320,960,320C880,320,800,320,720,320C640,320,560,320,480,320C400,320,320,320,240,320C160,320,80,320,40,320L0,320Z"></path>
            </svg>
        </div>

        <div id="auth_content">
            <div id="contact_links">
                <a class="links-content" href="https://t.me/youtube_solutions_dashboard_bot">Telegram</a>
                <a class="links-content" href="https://zelenka.guru/threads/4742481/">Lolz</a>
            </div>

            <div class="auth_inputs">
                <input type="text" id="auth-key-input" placeholder="YOUR KEY">
                <input type="button" id="auth-button" value="Auth">
            </div>
        </div>
    </div>

    

    <script src="../scripts/auth.js"></script>
</body>
</html>