<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../css/proxy.css">
    <title>Proxy</title>
</head>
<body>
    <div id="proxy_popup">
        <div id="popup_control">
            <div id="popup_drag"></div>
            <div id="popup_close"></div>
        </div>
        <input type="text" id="proxy_name" placeholder="LIST NAME">
        <textarea id="proxy_input" cols="30" rows="10" placeholder="IP:PORT@USER:PASSWORD"></textarea>
        <button id="save_input">Save</button>
    </div>

    <script src="../scripts/proxy_popup.js"></script>
</body>
</html>